.counter-bg{
    background-color: transparent;
    background-image: linear-gradient(180deg, #01E2B4 0%, #9BF14F 100%);
    opacity: 0.9;
    border-radius: 30px 30px 30px 30px;
}

.counter-bg-img{
    background-image: url('../../assets/counter-img.jpg');
    background-repeat: no-repeat;
    border-radius: 30px 30px 30px 30px;
}