.gateOpen {
    /* background-color: #8338EC; */
    color: #fff;
    background-color: #81D2D8;
    /* Change to your desired color */
}

.homeOpen {
    background-color: #F4F1F5;
    /* Change to your desired color */
}